[submodule ".emacs.d/submodules/gh"]
	path = .emacs.d/submodules/gh
	url = git://github.com/sigma/gh.el.git
[submodule ".emacs.d/submodules/pcache"]
	path = .emacs.d/submodules/pcache
	url = git://github.com/sigma/pcache.git
[submodule ".emacs.d/submodules/logito"]
	path = .emacs.d/submodules/logito
	url = git://github.com/sigma/logito.git
[submodule ".emacs.d/submodules/tabulated-list"]
	path = .emacs.d/submodules/tabulated-list
	url = git://github.com/sigma/tabulated-list.el.git
[submodule ".emacs.d/submodules/gist"]
	path = .emacs.d/submodules/gist
	url = git://github.com/defunkt/gist.el.git
[submodule ".emacs.d/submodules/clojure-mode"]
	path = .emacs.d/submodules/clojure-mode
	url = git://github.com/technomancy/clojure-mode.git
[submodule ".emacs.d/submodules/magit"]
	path = .emacs.d/submodules/magit
	url = git://github.com/magit/magit.git
[submodule ".emacs.d/submodules/markdown-mode"]
	path = .emacs.d/submodules/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule ".emacs.d/submodules/full-ack"]
	path = .emacs.d/submodules/full-ack
	url = git://github.com/nschum/full-ack.git
[submodule ".emacs.d/submodules/yaml-mode"]
	path = .emacs.d/submodules/yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
[submodule ".emacs.d/submodules/expand-region"]
	path = .emacs.d/submodules/expand-region
	url = git://github.com/magnars/expand-region.el.git
[submodule ".emacs.d/submodules/mark-multiple"]
	path = .emacs.d/submodules/mark-multiple
	url = git://github.com/magnars/mark-multiple.el.git
[submodule ".emacs.d/submodules/zencoding"]
	path = .emacs.d/submodules/zencoding
	url = git://github.com/rooney/zencoding.git
[submodule ".emacs.d/submodules/yasnippet"]
	path = .emacs.d/submodules/yasnippet
	url = git://github.com/capitaomorte/yasnippet.git
[submodule ".emacs.d/submodules/multiple-cursors"]
	path = .emacs.d/submodules/multiple-cursors
	url = git://github.com/magnars/multiple-cursors.el.git
[submodule ".emacs.d/submodules/wrap-region"]
	path = .emacs.d/submodules/wrap-region
	url = git://github.com/rejeep/wrap-region.git
[submodule ".emacs.d/submodules/elisp-slime-nav"]
	path = .emacs.d/submodules/elisp-slime-nav
	url = git://github.com/purcell/elisp-slime-nav.git
[submodule ".emacs.d/submodules/ace-jump-mode"]
	path = .emacs.d/submodules/ace-jump-mode
	url = git://github.com/winterTTr/ace-jump-mode.git
[submodule ".emacs.d/submodules/exec-path-from-shell"]
	path = .emacs.d/submodules/exec-path-from-shell
	url = git://github.com/purcell/exec-path-from-shell.git
[submodule ".emacs.d/submodules/scala-mode2"]
	path = .emacs.d/submodules/scala-mode2
	url = git://github.com/hvesalai/scala-mode2.git
[submodule ".emacs.d/submodules/cperl-mode"]
	path = .emacs.d/submodules/cperl-mode
	url = git://github.com/jrockway/cperl-mode.git
[submodule ".emacs.d/submodules/dash"]
	path = .emacs.d/submodules/dash
	url = https://github.com/magnars/dash.el.git
[submodule ".emacs.d/submodules/git-modes"]
	path = .emacs.d/submodules/git-modes
	url = https://github.com/magit/git-modes.git
[submodule ".emacs.d/submodules/pkg-info"]
	path = .emacs.d/submodules/pkg-info
	url = https://github.com/lunaryorn/pkg-info.el.git
[submodule ".emacs.d/submodules/cider"]
	path = .emacs.d/submodules/cider
	url = https://github.com/clojure-emacs/cider.git
[submodule ".emacs.d/submodules/rainbow-delimiters"]
	path = .emacs.d/submodules/rainbow-delimiters
	url = https://github.com/jlr/rainbow-delimiters.git
[submodule ".emacs.d/submodules/epl"]
	path = .emacs.d/submodules/epl
	url = https://github.com/cask/epl.git
[submodule ".emacs.d/submodules/mykie-el"]
	path = .emacs.d/submodules/mykie-el
	url = https://github.com/yuutayamada/mykie-el.git
