[submodule ".emacs.d/submodules/clojure-mode"]
	path = .emacs.d/submodules/clojure-mode
	url = git://github.com/technomancy/clojure-mode.git
[submodule ".emacs.d/submodules/magit"]
	path = .emacs.d/submodules/magit
	url = git://github.com/magit/magit.git
[submodule ".emacs.d/submodules/markdown-mode"]
	path = .emacs.d/submodules/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule ".emacs.d/submodules/yaml-mode"]
	path = .emacs.d/submodules/yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
[submodule ".emacs.d/submodules/expand-region"]
	path = .emacs.d/submodules/expand-region
	url = git://github.com/magnars/expand-region.el.git
[submodule ".emacs.d/submodules/mark-multiple"]
	path = .emacs.d/submodules/mark-multiple
	url = git://github.com/magnars/mark-multiple.el.git
[submodule ".emacs.d/submodules/multiple-cursors"]
	path = .emacs.d/submodules/multiple-cursors
	url = git://github.com/magnars/multiple-cursors.el.git
[submodule ".emacs.d/submodules/wrap-region"]
	path = .emacs.d/submodules/wrap-region
	url = git://github.com/rejeep/wrap-region.git
[submodule ".emacs.d/submodules/exec-path-from-shell"]
	path = .emacs.d/submodules/exec-path-from-shell
	url = git://github.com/purcell/exec-path-from-shell.git
[submodule ".emacs.d/submodules/cperl-mode"]
	path = .emacs.d/submodules/cperl-mode
	url = git://github.com/jrockway/cperl-mode.git
[submodule ".emacs.d/submodules/dash"]
	path = .emacs.d/submodules/dash
	url = https://github.com/magnars/dash.el.git
[submodule ".emacs.d/submodules/git-modes"]
	path = .emacs.d/submodules/git-modes
	url = https://github.com/magit/git-modes.git
[submodule ".emacs.d/submodules/pkg-info"]
	path = .emacs.d/submodules/pkg-info
	url = https://github.com/lunaryorn/pkg-info.el.git
[submodule ".emacs.d/submodules/cider"]
	path = .emacs.d/submodules/cider
	url = https://github.com/clojure-emacs/cider.git
[submodule ".emacs.d/submodules/rainbow-delimiters"]
	path = .emacs.d/submodules/rainbow-delimiters
	url = https://github.com/jlr/rainbow-delimiters.git
[submodule ".emacs.d/submodules/epl"]
	path = .emacs.d/submodules/epl
	url = https://github.com/cask/epl.git
